In [3]:
import pdfplumber
import pandas as pd


pdf_file_path = "C://Users/91947/Downloads/5608119616.pdf"

# Open the PDF file
with pdfplumber.open(pdf_file_path) as pdf:
    # Extract text from the first page
    first_page_text = pdf.pages[0].extract_text()

    # Extract tables from the first page
    tables = pdf.pages[0].extract_tables()

    if tables:
        # Assuming your PDF contains structured tables, extract the first table
        first_table = tables[0]

In [4]:
first_table

[['Particulars',
  'Qty',
  'Unit Price',
  'Gross\nAmount(BHD)',
  'Vat\n%',
  'Vat BHD',
  'Total\nAmount(BHD)'],
 ['Sub : Landscapes Maintenance\n(Farouk Garden)\n================================\nMonthly Charges : BHD345/-\n================================\nTowards Charges For The Month\nof July-2023',
  '',
  '345.000',
  '345.000',
  '10',
  '34.500',
  '379.500']]

In [11]:
  # Convert the extracted table into a DataFrame
df = pd.DataFrame(first_table[1:], columns=first_table[0])

        # Print the DataFrame
print(df)

                                         Particulars Qty Unit Price  \
0  Sub : Landscapes Maintenance\n(Farouk Garden)\...        345.000

  Gross\nAmount(BHD) Vat\n% Vat BHD Total\nAmount(BHD)
0            345.000     10  34.500            379.500