In [2]:
import pandas as pd
import pdfplumber
import re
from collections import namedtuple
# Open the PDF file
with pdfplumber.open("C://Users/91947/OneDrive/Desktop/parser/credit card statement.PDF") as pdf: 
    first_page = pdf.pages[0]
 
    # Extract text from the first page
    text = first_page.extract_text()
# Add space after "01/30/2024" followed by "01/30/2024"
text = re.sub(r'(\d{2}/\d{2}/\d{4}\s\d{2}/\d{2}/\d{4})', r'\1 ', text)
 
# Add space between "452" and "552107xxxxxx3861"
text = re.sub(r'(\d{2}/\d{2}/\d{4}\s\d{2}/\d{2}/\d{4}\s\d{8}\s(\d{3}\s|\d{2}\s)\d{3})', r'\1 ', text)
 
list_data = text.split('\n')
 
pattern = r'\d{2}/\d{2}/\d{4}\s\d{2}/\d{2}/\d{4}\s\d{8}'
 
matches = [line for line in list_data if re.match(pattern, line)]
 
d1=[]
d2=[]
d3=[]
d4=[]
d5=[]
d6=[]
d7=[]
d8=[]
d9=[]
d10=[]
d11=[]
d12=[]
 
for data in matches:
    single_data = data.split()
    d1.append(single_data[0])
    d2.append(single_data[1])
    d3.append(single_data[2])
    d4.append(single_data[3])
    d5.append(single_data[4])
    d6.append(single_data[5])
    d7.append(single_data[6])
    d8.append(single_data[7])
    d9.append(single_data[8])
    d10.append(single_data[9])
    d11.append(single_data[10])
    d12.append(single_data[11])
 
Inv = namedtuple('Inv', 'PostingDate Txn_Date Terminal Batch Seq Card_No Type Txn_Amount Com_Amount Vat_Amount Net_Amount Cback_Amount')  #this line for creating dataframe header
 
# Create a list of namedtuple objects
data = [Inv(*row) for row in zip(d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12)]
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Display DataFrame
print(df)

  PostingDate    Txn_Date  Terminal Batch  Seq           Card_No Type  \
0  01/30/2024  01/30/2024  17934120    88  892  559592xxxxxx3289   CR
1  01/30/2024  01/30/2024  17934120    89  894  537882xxxxxx2997   CR
2  01/30/2024  01/30/2024  17934120    90  896  484083xxxxxx8141   CR
3  01/30/2024  01/30/2024  17934130   128  452  552107xxxxxx3861   CR
4  01/30/2024  01/30/2024  17934130   128  453  552107xxxxxx3861   CR

  Txn_Amount Com_Amount Vat_Amount Net_Amount Cback_Amount
0    210.000      2.730      0.273    206.997        0.000
1    190.000      2.470      0.247    187.283        0.000
2    250.000      3.250      0.325    246.425        0.000
3     88.000      1.144      0.114     86.742        0.000
4     88.000      1.144      0.114     86.742        0.000

In [3]:
import re

# Your string
s = "Merchant Code : 000017934199"
# Regular expression pattern
pattern = r"Merchant Code : (\d+)"

# Find matches
matches = re.findall(pattern, s)

# Print matches
for match in matches:
    print(f"Merchant Code: {match}")

Merchant Code: 000017934199

In [4]:

# Define the regex pattern
pattern = r'^(\b\w+\b\s){4}\b\w+\b$'

# Test the pattern
merchant_name = "YUSUF KHALIL ALMOAYED AND SONS"
match = re.match(pattern, merchant_name)

if match:
    print("Merchant Name:", merchant_name)

Merchant Name: YUSUF KHALIL ALMOAYED AND SONS

In [3]:
import pandas as pd
import pdfplumber
import re
from collections import namedtuple
# Open the PDF file
with pdfplumber.open("C://Users/91947/OneDrive/Desktop/parser/credit card statement.PDF") as pdf:   #replace your actual file with path
    # Get the first page
    first_page = pdf.pages[0]
 
    # Extract text from the first page
    text = first_page.extract_text()
# Add space after "01/30/2024" followed by "01/30/2024"
text = re.sub(r'(\d{2}/\d{2}/\d{4}\s\d{2}/\d{2}/\d{4})', r'\1 ', text)
 
# Add space between "452" and "552107xxxxxx3861"
text = re.sub(r'(\d{2}/\d{2}/\d{4}\s\d{2}/\d{2}/\d{4}\s\d{8}\s(\d{3}\s|\d{2}\s)\d{3})', r'\1 ', text)
 
list_data = text.split('\n')
 
pattern = r'\d{2}/\d{2}/\d{4}\s\d{2}/\d{2}/\d{4}\s\d{8}'
 
matches = [line for line in list_data if re.match(pattern, line)]
 
d1=[]
d2=[]
d3=[]
d4=[]
d5=[]
d6=[]
d7=[]
d8=[]
d9=[]
d10=[]
d11=[]
d12=[]
 
for data in matches:
    single_data = data.split()
    d1.append(single_data[0])
    d2.append(single_data[1])
    d3.append(single_data[2])
    d4.append(single_data[3])
    d5.append(single_data[4])
    d6.append(single_data[5])
    d7.append(single_data[6])
    d8.append(single_data[7])
    d9.append(single_data[8])
    d10.append(single_data[9])
    d11.append(single_data[10])
    d12.append(single_data[11])
 
Inv = namedtuple('Inv', 'PostingDate Txn_Date Terminal Batch Seq Card_No Type Txn_Amount Com_Amount Vat_Amount Net_Amount Cback_Amount')  #this line for creating dataframe header
 
# Create a list of namedtuple objects
data = [Inv(*row) for row in zip(d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12)]
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Display DataFrame
print(df)

  PostingDate    Txn_Date  Terminal Batch  Seq           Card_No Type  \
0  01/30/2024  01/30/2024  17934120    88  892  559592xxxxxx3289   CR
1  01/30/2024  01/30/2024  17934120    89  894  537882xxxxxx2997   CR
2  01/30/2024  01/30/2024  17934120    90  896  484083xxxxxx8141   CR
3  01/30/2024  01/30/2024  17934130   128  452  552107xxxxxx3861   CR
4  01/30/2024  01/30/2024  17934130   128  453  552107xxxxxx3861   CR

  Txn_Amount Com_Amount Vat_Amount Net_Amount Cback_Amount
0    210.000      2.730      0.273    206.997        0.000
1    190.000      2.470      0.247    187.283        0.000
2    250.000      3.250      0.325    246.425        0.000
3     88.000      1.144      0.114     86.742        0.000
4     88.000      1.144      0.114     86.742        0.000