In [67]:
import pdfplumber
import pandas as pd


pdf_file_path = "C://Users/91947/Downloads/Inv_SL-S01_6081_job010HB40YOJJ5W7495263B79.dat.pdf"

# Open the PDF file
with pdfplumber.open(pdf_file_path) as pdf:
    # Extract text from the first page
    text = pdf.pages[0].extract_text()

    # Extract tables from the first page
    #tables = pdf.pages[0].extract_tables()

In [68]:
text

"almoayyed@almoayyed.com\nalmoayyed@almoayyed.com\n+ 973 17211211\n+ 973 17211211\nTAX INVOICE\nCUSTOMER DETAILS DOCUMENT DETAILS\nYOUSUF KHALIL ALMOAYYED & SONS PROPERTIES CO. W.L.Doc No 6081\nFlat/Shop No. Flat 11, Building: 3,\nRoad/Street: 401, Date 31/08/23\nManama Center\nBlock: 304, Account K0040330\nKingdom of Bahrain\nVAT No: 200011241300002\nDESCRIPTION QTY UNIT PRICE NET AMOUNT V V% VAT AMOUNT TOTAL AMOUNT\n1 102.000 102.000 10 10.200 112.200\nPurchase Department cost allocation\nfor the month of Aug 23\nFinance Charge is exempt as per article 54 of the Bahrain VAT Law\nNet BHD Value : 102.000\nBHD ONE HUNDRED AND TWELVE æFILS TWO HUNDRED ONLY Vat Amount : 10.200\nTotal BHD Value : 112.200\nThis document is system generated and doesn't require signature.\n10S/LS:DItnemucoD"

In [69]:
list_data = text.split('\n')
print(list_data)

['almoayyed@almoayyed.com', 'almoayyed@almoayyed.com', '+ 973 17211211', '+ 973 17211211', 'TAX INVOICE', 'CUSTOMER DETAILS DOCUMENT DETAILS', 'YOUSUF KHALIL ALMOAYYED & SONS PROPERTIES CO. W.L.Doc No 6081', 'Flat/Shop No. Flat 11, Building: 3,', 'Road/Street: 401, Date 31/08/23', 'Manama Center', 'Block: 304, Account K0040330', 'Kingdom of Bahrain', 'VAT No: 200011241300002', 'DESCRIPTION QTY UNIT PRICE NET AMOUNT V V% VAT AMOUNT TOTAL AMOUNT', '1 102.000 102.000 10 10.200 112.200', 'Purchase Department cost allocation', 'for the month of Aug 23', 'Finance Charge is exempt as per article 54 of the Bahrain VAT Law', 'Net BHD Value : 102.000', 'BHD ONE HUNDRED AND TWELVE æFILS TWO HUNDRED ONLY Vat Amount : 10.200', 'Total BHD Value : 112.200', "This document is system generated and doesn't require signature.", '10S/LS:DItnemucoD']

In [80]:
# Regex pattern to extract the
datepattern = r'\bDate\s+(\d{2}/\d{2}/\d{2})\b'# Find all matches of the pattern in the
textmatches = re.findall(pattern, text) # Print the extracted date
if matches:  
    print("Extracted Date:", matches[0])
else:     
    print("Date not found in the text.")

Date not found in the text.

In [76]:
import re
#newre = re.compile(r'A-Z a-z \d{2}/|-\d{2}/|-\d{2}|d{4}')
newre=re.sub(r'\b\d{2}/\d{2}/\d{2}\b',text)

TypeError: sub() missing 1 required positional argument: 'string'

In [71]:
for line in list_data:
    if newre.match(line):
        print(line)

In [72]:
line

'10S/LS:DItnemucoD'

In [55]:
for row in text.split('\n'):
    if row.startswith('Date'):
        Date = row.split()[-1]

In [56]:
Date

NameError: name 'Date' is not defined

In [46]:
matches = [line for line in list_data if re.match(newre, line)]

In [47]:
matches

[]

In [62]:
import re

# Sample text containing dates
text = """
Date: 31 08 23

"""

# Regular expression pattern for mm dd yy format
pattern = r"\b(\d{2}) (\d{2}) (\d{2})\b"

# Initialize an empty list to store dates
dates = []

# Iterate over each row in the text
for row in text.split('\n'):
    # Check if the row starts with 'Date'
    if row.startswith('Date'):
        # Extract the date using regular expression
        match = re.search(pattern, row)
        if match:
            # Extract and format the matched date
            month, day, year = match.groups()
            date = "{}/{}/{}".format(month, day, year)
            # Append the formatted date to the list
            dates.append(date)

# Print the extracted dates
for date in dates:
    print("Date:", date)

Date: 31/08/23

In [66]:
list_data

['almoayyed@almoayyed.com',
 'almoayyed@almoayyed.com',
 '+ 973 17211211',
 '+ 973 17211211',
 'TAX INVOICE',
 'CUSTOMER DETAILS DOCUMENT DETAILS',
 'YOUSUF KHALIL ALMOAYYED & SONS PROPERTIES CO. W.L.Doc No 6081',
 'Flat/Shop No. Flat 11, Building: 3,',
 'Road/Street: 401, Date 31/08/23',
 'Manama Center',
 'Block: 304, Account K0040330',
 'Kingdom of Bahrain',
 'VAT No: 200011241300002',
 'DESCRIPTION QTY UNIT PRICE NET AMOUNT V V% VAT AMOUNT TOTAL AMOUNT',
 '1 102.000 102.000 10 10.200 112.200',
 'Purchase Department cost allocation',
 'for the month of Aug 23',
 'Finance Charge is exempt as per article 54 of the Bahrain VAT Law',
 'Net BHD Value : 102.000',
 'BHD ONE HUNDRED AND TWELVE æFILS TWO HUNDRED ONLY Vat Amount : 10.200',
 'Total BHD Value : 112.200',
 "This document is system generated and doesn't require signature.",
 '10S/LS:DItnemucoD']

In [121]:
pattern = r'\s\d{2}/\d{2}/\d{2}'
 
# Find all matches of the pattern in the text
date = re.findall(pattern, text)
print(date)

[' 31/08/23']

In [85]:
text

"almoayyed@almoayyed.com\nalmoayyed@almoayyed.com\n+ 973 17211211\n+ 973 17211211\nTAX INVOICE\nCUSTOMER DETAILS DOCUMENT DETAILS\nYOUSUF KHALIL ALMOAYYED & SONS PROPERTIES CO. W.L.Doc No 6081\nFlat/Shop No. Flat 11, Building: 3,\nRoad/Street: 401, Date 31/08/23\nManama Center\nBlock: 304, Account K0040330\nKingdom of Bahrain\nVAT No: 200011241300002\nDESCRIPTION QTY UNIT PRICE NET AMOUNT V V% VAT AMOUNT TOTAL AMOUNT\n1 102.000 102.000 10 10.200 112.200\nPurchase Department cost allocation\nfor the month of Aug 23\nFinance Charge is exempt as per article 54 of the Bahrain VAT Law\nNet BHD Value : 102.000\nBHD ONE HUNDRED AND TWELVE æFILS TWO HUNDRED ONLY Vat Amount : 10.200\nTotal BHD Value : 112.200\nThis document is system generated and doesn't require signature.\n10S/LS:DItnemucoD"

In [177]:
import re
pattern = r'[A-Za-z]+\s+[A-Za-z]+\s+[a-z]+\s+[a-z]'

 
# Find all matches of the pattern in the text
matches = re.findall(pattern, text)
print(matches)

['Purchase Department cost a', 'llocation\nfor the m', 'Finance Charge is e', 'xempt as per a', 'This document is s', 'ystem generated and d']

In [193]:
pattern = r'[A-Za-z]+\s\d{4}'
 
# Find all matches of the pattern in the text
matches = re.findall(pattern, text)
print(matches)

['No 6081']

In [188]:
pattern = r'[A-Z]+\s[A-Za-z]+:\s+\d{15}'
 
# Find all matches of the pattern in the text
s = re.findall(pattern, text)
print(s)

['VAT No: 200011241300002']

In [103]:
pattern = r'[A-Z]+\s[A-Z]+\s[A-Z]+\s[A-Z]+\s[A-Z]+\s[A-Z]+\s[A-Z]+\s[A-Z]%+\s[A-Z]+\s[A-Z]+\s[A-Z]+\s[A-Z].*'
 
# Find all matches of the pattern in the text
matches = re.findall(pattern, text)
print(matches)

['DESCRIPTION QTY UNIT PRICE NET AMOUNT V V% VAT AMOUNT TOTAL AMOUNT']

In [184]:
#pattern = r'[A-Za-z]+\s[A-Za-z]+\s[a-z]+\s[a-z]'
#pattern = r'[A-Za-z]\s+[A-Za-z]\s+[a-z]\s+\w{10}'
pattern = r'[A-Za-z]+\s+[A-Za-z]+\s+[a-z]+\s+[a-z]{10}'
# Find all matches of the pattern in the text Purchase Department cost allocation
matches = re.findall(pattern, text)
modified_matches = [match + " for the month of Aug 23" for match in matches]
modified_matches

['Purchase Department cost allocation for the month of Aug 23']

In [132]:
pattern = r'\d{1}+\s\d{3}\.\d{3}+\s\d{3}\.\d{3}+\s\d{2}+\s\d{2}\.\d{3}+\s\d{3}\.\d{3}'

# Find all matches of the pattern in the text 1 102.000 102.000 10 10.200 112.200
matches = re.findall(pattern, text)
print(matches)

['1 102.000 102.000 10 10.200 112.200']

In [140]:
sp=[]
for i in matches:
    sp.append(i.split())

In [141]:
sp

[['1', '102.000', '102.000', '10', '10.200', '112.200']]

In [146]:
date.extend(sp)

In [147]:
print(sp)

[['1', '102.000', '102.000', '10', '10.200', '112.200'], ' 31/08/23']

In [148]:
from collections import namedtuple

In [156]:
Inv = namedtuple('Inv', 'QTY UNIT_PRICE NET_AMOUNT V_V VAT_AMOUNT TOTAL_AMOUNT DATE')  #this line for creating dataframe header

In [157]:
import pandas as pd
from collections import namedtuple

# Define the namedtuple
Inv = namedtuple('Inv', 'QTY UNIT_PRICE NET_AMOUNT V_Vpercent VAT_AMOUNT TOTAL_AMOUNT DATE')

# Create a list of lists, each list represents a row
data = [sp]

# Create the DataFrame
df = pd.DataFrame(sp, columns=Inv._fields)

print(df)

ValueError: 7 columns passed, passed data had 9 columns

In [158]:
import pandas as pd
from collections import namedtuple

# Define the namedtuple
Inv = namedtuple('Inv', 'QTY UNIT_PRICE NET_AMOUNT V_Vpercent VAT_AMOUNT TOTAL_AMOUNT DATE')

# Separate the date from the main data
main_data = ['1', '102.000', '102.000', '10', '10.200', '112.200']
date = '31/08/23'

# Create the DataFrame with the date as an additional column
df = pd.DataFrame([main_data + [date]], columns=Inv._fields)

print(df)

  QTY UNIT_PRICE NET_AMOUNT V_Vpercent VAT_AMOUNT TOTAL_AMOUNT      DATE
0   1    102.000    102.000         10     10.200      112.200  31/08/23

In [191]:
import pandas as pd
from collections import namedtuple

# Define the namedtuple
Inv = namedtuple('Inv', 'DOC_NUMBER DESCRIPTION QTY UNIT_PRICE NET_AMOUNT V_Vpercent VAT_AMOUNT TOTAL_AMOUNT DATE')

# Assuming `sp` contains both the main data and the date
sp = [['1', '102.000', '102.000', '10', '10.200', '112.200'], '31/08/23']

# Extract the main data and date
main_data = sp[0]
date = sp[1]

# Create modified matches as description
modified_matches = [match + " for the month of Aug 23" for match in matches]

# Add DOC_NUMBER as 6081 and modify main data to include description and DOC_NUMBER
main_data_with_description = ['6081'] + modified_matches + main_data

# Create the DataFrame with the date as an additional column
df = pd.DataFrame([main_data_with_description + [date]], columns=Inv._fields)

print(df)

  DOC_NUMBER                                        DESCRIPTION QTY  \
0       6081  Purchase Department cost allocation for the mo...   1

  UNIT_PRICE NET_AMOUNT V_Vpercent VAT_AMOUNT TOTAL_AMOUNT      DATE
0    102.000    102.000         10     10.200      112.200  31/08/23